<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <!-- MudBlazor CSS -->
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <!-- ImportMap (Blazor .NET 8) -->
    <ImportMap />

    <link rel="icon" href="favicon.ico" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>

    <!-- ROUTING -->
    <Routes @rendermode="InteractiveServer" />

    <!-- Blazor runtime -->
    <script src="_framework/blazor.web.js"></script>

    <!-- MudBlazor JS -->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- Leaflet Interop -->
    <script src="js/leafletMap.js"></script>

    <!-- File Utils -->
    <script src="js/fileUtils.js"></script>

</body>

</html>
