<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <!-- MudBlazor CSS -->
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <!-- Tailwind CDN and Config -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "primary": "#137fec",
                        "background-light": "#f6f7f8",
                        "background-dark": "#101922",
                        "high-priority": "#D32F2F",
                        "medium-priority": "#FFA000",
                        "low-priority": "#388E3C",
                        "surface-dark": "#192633",
                        "border-dark": "#324d67",
                        "text-secondary-dark": "#92adc9",
                        "interactive-dark": "#233648"
                    },
                    fontFamily: {
                        "display": ["Inter", "sans-serif"]
                    },
                    borderRadius: {"DEFAULT": "0.25rem", "lg": "0.5rem", "xl": "0.75rem", "full": "9999px"},
                },
            },
        }
    </script>

    <!-- ImportMap (Blazor .NET 8) -->
    <ImportMap />

    <link rel="icon" href="favicon.ico" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>

    <!-- ROUTING -->
    <Routes @rendermode="InteractiveServer" />

    <!-- Blazor runtime -->
    <script src="_framework/blazor.web.js"></script>

    <!-- MudBlazor JS -->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- Leaflet Interop -->
    <script src="js/leafletMap.js"></script>

    <!-- File Utils -->
    <script src="js/fileUtils.js"></script>

</body>

</html>
